# Copyright (c) 2022 Linaro
# SPDX-License-Identifier: Apache-2.0

config BUILD_HUK_KEY_DERIV_TEST
	bool "Enable HUK key deriv integration test build."
	default y
	help
	  Enable HUK key deriv integration test build.

source "Kconfig.zephyr"
